FirstProject/.vs
FirstProject/obj/Debug
FirstProjectML.ConsoleApp/obj
FirstProjectML.Model/bin
FirstProjectML.Model/obj
FirstProject/bin/Debug
FirstProject/obj
FirstProject/FirstProject/.vs
FirstProject/FirstProjectML.Model/obj
FirstProject/FirstProjectML.Model/bin
FirstProject/FirstProjectML.ConsoleApp/obj
FirstProject/FirstProject/bin
FirstProject/FirstProject/obj
